$cta-color: #69963f;
$accent-color: #f5f5f5;

$space-xxs: .25rem;
$space-xs: .5rem;
$space-s: .75rem;
$space-m: 1rem;
$space-l: 1.5rem;
$space-xl: 3rem;

$font-s: .5rem;
$font-m: 1rem;
$font-l: 1.5rem;