@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

@mixin position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@mixin position-fixed-center {
  @include position-center;
  position: fixed;
}

@mixin position-abs-center {
  @include position-center;
  position: absolute;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin full-screen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

@mixin tablet-query {
    @media (min-width: 768px) {
        @content
    }
}

@mixin desktop-query {
    @media (min-width: 1024px) {
        @content
    }
}