@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}